*
{
    overflow: hidden;
}

.containerHome
{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/green-goal-5234f.appspot.com/o/forUsDevs%2Fbackground.png?alt=media&token=49e9bafe-971e-4e42-9b30-790bed79c10f');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 15px 15px 20px rgba(11, 98, 3, 0.342);
    border-radius: 5%  5%  5% 5%;
}

.whitesquare
{
    background-color: #fff;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    margin-top: 50px;
    box-shadow: 15px 15px 20px rgba(2, 22, 1, 0.788);
    border-radius: 13% 1% 13% 1%;
}

.containerHome .textHome
{
    margin-top: 60px;
    font-size: 35px;
    font-weight: 600;
}

.contentHome
{
    max-width: 400px;
    font-size: 20px;
    margin: auto;
}

.containerHome h3
{
    margin-top: 90px;
    font-size: 25px;
}