
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  outline: none;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  width: 100%;
  background: linear-gradient(115deg, #b0f59fce 10%, #57f352 90%);
}

.show-btn, .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container{
  background: #fff;
  width: 410px;
  padding: 30px;
  height: 480px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.container .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.container form{
  margin-top: -20px;
}
.container form .data{
  height: 45px;
  width: 100%;
  margin: 50px 0;
}
form{
  text-align: left;
}

form .data label{
  font-size: 18px;
}

form .data input{
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}
form .data input:focus{
  border-color: #0bb305;
  border-bottom-width: 2px;
}
form .forgot-pass{
  margin-top: 6px;
}
form .forgot-pass a{
  color: #3498db;
  text-decoration: none;
  font-size: 17px;
}

form .forgot-pass a:hover{
  text-decoration: underline;
  
}
form .btn{
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
form .btn .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: -webkit-linear-gradient(right, #a7f3a4, #258d0a, #18ec2a, #0e6103);
  transition: all 0.4s;
}
form .btn:hover .inner{
  left: 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer; 
}

form .signup-link{
  text-align: center;
  margin-top: -10px;
}
form .signup-link a{
  color: #3498db;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}

