.Border{
    margin: 15px;
    background-color: #e6e6e6;
    border: 2px solid black;
    height: 310px;
    width: 480px;
    display: inline-flex;
}

.Border:hover
{
    box-shadow: 1px 1px 2px rgb(202, 199, 199);
    padding: 5px;
    transition: all 1s;
}

.hr_text{
    border-bottom: 2px solid black;
    max-width: 200px;
}
.Text {
    margin: 10px;
    text-align: left;
}

.Img{
    border-right: 2px solid black;
    width: 60%;
    height: 100%;
}

.hr{
    width: 100%;
    height: 1px;
}