.Border{
    margin: 15px;
    background-color: #e6e6e6;
    border: 2px solid black;
    height: 310px;
    width: 480px;
    display: inline-flex;
    -webkit-transition: padding 0.7s;
    border-radius: 15px 15px 15px 15px;
}

.Border:hover
{
    box-shadow: 4px 4px 2px rgb(202, 199, 199);
    padding: 15px;
    transition: all 0.7s;
}

.hr_text{
    border-bottom: 2px solid black;
    max-width: 200px;
}
.Text {
    margin: 10px;
    text-align: left;
}

.Img{
    border: 1px solid black;
    width: 60%;
    height: 99,9%;
    transition: 0.7s;
    border-radius: 15px 15px 15px 15px;
}


.hr{
    width: 100%;
    height: 1px;
}

