.Border{
    margin: 15px;
    background-color: #e6e6e6;
    border: 2px solid black;
    height: 310px;
    width: 480px;
    display: inline-flex;
    -webkit-transition: padding 0.7s;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 5px black;
}

.Border:hover
{
    box-shadow: 2px 2px 10px black;
    padding: 15px;
    transition: all 0.7s;
}

.hr_text{
    border-bottom: 2px solid black;
    max-width: 200px;
}
.Text {
    margin: 10px;
    text-align: left;
}

.Img{
    position: relative;
    right: 1px;
    border: 1px solid black;
    width: 60%;
    height: 99,99%;
    transition: 0.7s;
    border-radius: 15px 15px 15px 15px;
}


.hr{
    width: 100%;
    height: 1px;
}




.stars input{
  display: none;
}

.stars label{
    color: rgb(179, 179, 179);
    margin: 0 1px;
    font-size: 22px;
}

.star{
    color:gold
}

.button {
    display: inline-block;
    padding: 6px 6px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(1px);
  }
