.NavbarItems
{
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.menu-icon
{
    display: none;
}

ul
{
    flex: 2;
    align-self: center;
}

ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    font-size: 2px;
}

li a
{
    text-decoration: none;
}

a:link
{
    align-self: center;
    padding: 5px;
    color:rgb(64, 255, 64);
    font-size: 20px;
}

a:visited
{
    color:white;
}

a:hover, button:hover
{
    color: white;
    border-bottom: 3px solid white;
    transition: all 0.5s ease;

}

button
{
    margin: 5px;
    padding: 5px;
    border: none;
    background-color: black;
    color:rgb(64, 255, 64);
    font-size: 20px;
    cursor:pointer;
}

h1
{
    color:rgb(64, 255, 64);
}