.NavbarItems
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(135, 255, 124);
    font-size: 20px;
}

.menu-icon
{
    display: none;
}

ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

li a
{
    text-decoration: none;
}



a:link
{
    align-self: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:rgb(134, 247, 134);
    color: white;
    font-size: 20px;
}

a:visited
{
    color:white;
}

a:visited
{
    color: white;
}

a:hover
{
    color: black;
    transition: all 1s ease;
}