.NavbarItems
{
    display: flex;
    justify-content: space-between;
    background-color: rgba(50, 20, 70, 0.3);
    font-size: 20px;
}

.menu-icon
{
    display: none;
}

ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

li a
{
    text-decoration: none;
}



a:link
{
    color:white;
}

a:visited
{
    color:white;
}

a:hover
{
    color: black;
    transition: all 1s ease;
}