/*:root
{
    --primary: #3abcbf7
}

.btn
{
    padding: 4px 5px;
    border-radius: 4px;
    outline: none;
    border: none ;
    cursor: pointer;

}

.btn:hover
{
    padding: 4px 5px;
    transition: all 0.3s ease-out;
    background: #fff;
    color: #131218;
    transition: 250ms;
}

.btn--primary
{
    background-color: var(--primary);
}

.btn--outline
{
    background-color: transparent;
    color: rgb(54, 30, 30);
    padding: 4px 5px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium
{
    padding: 4px 5px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}

.btn-large
{
    padding: 2px 2px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
}
*/